[Unit]
Description= Penspider 
After=multi-user.target

[Service]
WorkingDirectory=/root/website/penspider/
Type=idle
ExecStart=/usr/bin/python3 /root/website/penspider/penspider.py
Restart=always

[Install]
WantedBy=multi-user.target
